section{
    margin: 5%;
}

table{
    width: 100%;
}

th, td{
    border-bottom: solid black 2px;
}

.mini{
    width: 150px;
}

th, td, tr{
    text-align: center;
}

div{
    text-align: center;
    margin: 2%;
}