section{
    margin: 5%;
}

table{
    width: 100%;
}

td, th{
    border-bottom: solid black 1.5px;
}


.mini{
    width: 110px;
}

th, td, tr{
    text-align: center;
}

div{
    text-align: center;

}

.total{
    border: none;
    text-align: start;
    font-size: 1.5rem;
}